<div id="page" class="row">
    <div class="col-sm-4">
        <ul class="list-unstyled">
            <li ng-repeat="dataTransformOrPipeline in dataTransformOrPipelines" class="breadcrumb" ng-class="{active: dataTransformOrPipeline == $parent.dataTransformOrPipeline}">
                <a ng-click="selectBenchmark(dataTransformOrPipeline)">{{ dataTransformOrPipeline.name }}</a>
            </li>

            <li class="breadcrumb">
                <form  ng-submit="runScript(scriptName)">
                    <input placeholder="script name to run on the data" ng-model="scriptName" type="text"/>
                    <input ng-model="apiURL" type="text"/>
                    <button class="btn btn-primary" ng-click="runScript(scriptName)">Run</button>
                </form>
                <textarea ng-model="scriptResultsRaw"></textarea>
            </li>

            <li class="breadcrumb" title=" this shows the json of the mouse clicks whcih can be converted into an array or vector in your favorite volume processing library">
                Mouse mask:
                <pre>
                    {{mouseMasks[mouseMasks.length -1] | json}}
                </pre>
            </li>

            <li class="breadcrumb">
                <table title=" this matrix can be connected to the results data from the MainCtrl.js file" class="matrix">
                    <tbody>
                        <tr ng-repeat="row in matrix">
                            <td ng-repeat="column in row track by $index" contenteditable>
                                {{column}}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </li>
             <li class="breadcrumb">
                <ul class="unstyled">
                    <li ng-repeat="layer in layers">
                        <input title="change the slider to change the transparency of the layer" type="range" ng-model="layer.visibility" max="100" min="0"/> {{layer.label}} Color: <input title="click on this and a color picker will appear so you can choose any color you would like for this layer" type="color" ng-model="layer.color" />{{layer.color}}
                    </li>
                </ul>
            </li>

            <li class="breadcrumb">
              <nvd3 title=" this bar chart can be connected to the results data from the MainCtrl.js file"  options='barchart1.options' data='barchart1.data'></nvd3>
            </li>

            <li class="breadcrumb">
              <nvd3 title=" this scatter plot can be connected to the results data from the MainCtrl.js file" options='scatterplot1.options' data='scatterplot1.data'></nvd3>
            </li>

        </ul>
    </div>
    <div class="col-sm-8" ng-include="partialUrl + '/dataTransformOrPipeline-view.html'" ng-controller="BenchmarkViewCtrl" title="use your mouse to zoom in and out, click on the brain to rotate it in 3D space, use SHIFT+Click to trace a shape which can become verticies of a new volumn mask (the mask appears in a vector on the left side). This mask is passed to your scripts which can be used to filter the data ">
    </div>
    <!-- <div class="col-sm-1">
        <ul class="list-unstyled">
            <li ng-repeat="instance in dataTransformOrPipeline.instances" class="breadcrumb" ng-class="{active: dataTransformOrPipeline.isActive(instance)}">
                <a ng-click="dataTransformOrPipeline.toggleActive(instance)">{{ instance.backendName }} {{ instance.backendVersion }}</a>
            </li>
        </ul>
    </div> -->
</div>

<div ng-include="partialUrl + '/experiment-runner-modal.html'"></div>
