<div id="page" class="row">
    <div class="col-sm-2">
        <ul class="list-unstyled">
            <li ng-repeat="dataTransformOrPipeline in dataTransformOrPipelines" class="breadcrumb" ng-class="{active: dataTransformOrPipeline == $parent.dataTransformOrPipeline}">
                <a ng-click="selectBenchmark(dataTransformOrPipeline)">{{ dataTransformOrPipeline.name }}</a>
            </li>

            <li class="breadcrumb">
                <table class="matrix">
                    <tbody>
                        <tr ng-repeat="row in matrix">
                            <td ng-repeat="column in row track by $index" contenteditable>
                                {{column}}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </li>
        </ul>
    </div>
    <div class="col-sm-8" ng-include="partialUrl + '/dataTransformOrPipeline-view.html'" ng-controller="BenchmarkViewCtrl">
    </div>
    <div class="col-sm-2">
        <ul class="list-unstyled">
            <li ng-repeat="instance in dataTransformOrPipeline.instances" class="breadcrumb" ng-class="{active: dataTransformOrPipeline.isActive(instance)}">
                <a ng-click="dataTransformOrPipeline.toggleActive(instance)">{{ instance.backendName }} {{ instance.backendVersion }}</a>
            </li>
        </ul>
    </div>
</div>

<div ng-include="partialUrl + '/experiment-runner-modal.html'"></div>
