lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
node_modules

npm-debug.log

*.m~

*.mex*

#python files from pycharm
__init__.py

	
slprj/
.idea/*
client/bower_components/
client/app.write.js
